.personAvatarIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
  }
